<script>
	import { onMount } from 'svelte';
	import { db } from './db.svelte';
	import 'bulma/css/bulma.css'
	import New from './New.svelte';
	import Hero from './Hero.svelte';
	import Tiles from './Tiles.svelte';
	import Editor from './Editor.svelte';
	import { Button } from 'svelma';
	import { ArrowLeftIcon } from 'svelte-mono-icons';


	let posts = [];
	let iconSize = '1.5em';
	let width = iconSize;
	let height = iconSize;
	let activePost = false;

	let showEditor = false;
	$: posts = showEditor ? posts : db.getPosts();

	function handleCreateClick() {
		showEditor = !showEditor;
	}

	function handleMessage(msg) {
		activePost = msg.detail.activePost;
		showEditor = true;
	}

</script>

<main>
	<Hero />
	{#if !showEditor}
		<Button on:click={handleCreateClick}>Create New Note</Button>
	{:else}
		<Button on:click={() => {
			handleCreateClick()
			activePost = false;
		}} type='is-light'>
			⬅ Back to Notes
		</Button>
	{/if}
	<div class="columns is-centered">
		<div class="column is-two-thirds-tablet is-half-desktop">
			<hr />
			{#if showEditor}
				<Editor {...activePost}/>
			{:else}
				<Tiles on:message={handleMessage} {posts} />
			{/if}
		</div>
	</div>
</main>

<style>
	main {
		text-align: center;
		padding: 1em;
		margin: 0 auto;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>