<script>
	import { Button, Field, Input } from 'svelma';
	import { openToast } from './components/Toast.svelte';
	import { db } from './db.svelte';
	import { v4 as uuidv4 } from 'uuid';
	import { format, fromUnixTime } from 'date-fns';

	export let title;
	export let content;
	export let id;
	export let updated;

	export let post = {
		id,
		title,
		content,
		updated
	};


	const cachedPost = post;

	function getDate() {
		return Math.round((new Date()).getTime() / 1000);
	}

	function deletePost() {
		try {
			db.deletePost(post.id);
		} catch (error) {
			openToast('is-danger', 'Unable to delete post');
			return;
		}
		openToast('is-success', 'Post deleted');
	}

	function savePost() {
		if (post.title.length === 0) {
			openToast('is-danger', 'Note requires a title');
			return;
		}

		try {
			if (post.id) {
				db.deletePost(post.id);
			}
		} catch (error) {
			openToast('is-warning', 'Unable to overwrite note, saving as new note');
		}

		try {
			post.updated = getDate();
			post.id = uuidv4();

			let posts = db.getPosts();
			if (posts === null) {
				//No posts
				posts = [];
				posts.push(post);
			} else {
				posts.push(post);
			}
			//Update db
			db.setPosts(posts);
		} catch (error) {
			openToast('is-danger', 'Unable to save note');
			return;
		}
		openToast('is-success', 'Post saved!');
	}
</script>

<div contenteditable="true" class="input" type="text" bind:innerHTML={post.title} placeholder="Note Title" />
<div contenteditable="true" class="has-text-left p-4 textarea" type="textarea" bind:innerHTML={post.content} placeholder="Note content..."/>
<br />
<div class="is-flex">
	<div class="is-flex">
		<Button on:click={savePost} type="is-warning ">Save Note</Button>
	</div>
	<div class="is-flex-grow-5"></div>
	<div class="is-flex">
		<Button on:click={deletePost} type="is-text ">Delete Note</Button>
	</div>
</div>

<style>
	.input {
		border: none;
		padding-left: 0;
		box-shadow: none !important;
		font-weight: bold;
		display: block;
		text-align: left;
		font-size: 1.5em;
		height: auto;
		outline: 0px solid transparent;
	}

	.input:focus, .textarea:focus {
		outline: 0px solid transparent;
	}

	.textarea {
		border: 0;
		box-shadow: none !important;
		border: solid 2px #efefef;
		height: auto;
		outline: 0px solid transparent;
		outline: 0px solid transparent;
	}

	[contenteditable=true]:empty:before{
		content: attr(placeholder);
		pointer-events: none;
		display: block; /* For Firefox */
	}

</style>