<script>
	import { slide } from 'svelte/transition'
  
	const types = ['is-primary', 'is-success', 'is-danger', 'is-warning', 'is-info', 'is-link']
	let type = 'is-warning'
  
  </script>
  
  {#if type}
	<section class="hero" transition:slide>
			<a href="/">
				<img alt="Jotter Logo" height="100px" width="50" src="./jotter.png" class="logo" />	
			</a>
	  <div class="hero-body">
		<div class="container">
		  <h1 class="title">
			  Jotter
		  </h1>
		</div>
	  </div>
	</section>
  {/if}

  <style>
	  .title {
		  border-bottom: solid 4px #ffe08a;
		  display: block;
		  width: 200px;
		  margin: 0 auto;
		  padding-bottom: .5em;
	  }

	  .logo {
		  border-radius: 5px;
		  position: absolute;
		  top: 1em;
		  left: 1em;
	  }
  </style>