<script>
	import { db } from './db.svelte';
	import { onMount, createEventDispatcher } from 'svelte';
	import { format, fromUnixTime } from 'date-fns';
	export let posts;

	const dispatch = createEventDispatcher();

	function clickPost(id) {
		let post = db.getPost(id);
		dispatch('message', {
			activePost: post
		});
	}


  </script>
  
  
  
	<div class="tile is-ancestor is-flex-wrap-wrap is-multiline">
			{#each posts as post}
			<div on:click={() => clickPost(post.id)} class="tile is-4">
				<div class="cursor-pointer tile is-parent is-vertical is-flex-wrap-wrap">
					<article class="tile is-child notification">
						<p class="subtitle has-text-weight-bold">{post.title}</p>
						<span class="has-text-left">{post.content.slice(0, 100)}</span>
						<br />
						<p class="is-size-7">{format(fromUnixTime(post.updated), 'do MMM')}</p>
					</article>
				</div>
			</div>
			{/each}
	</div>

  <style>
  .tile:not(.is-ancestor) {
	user-select: none;
  }
  
  :global(.is-dragging) {
	transform: rotate(25deg);
	cursor: move;
  }

  .cursor-pointer {
	  cursor: pointer;
  }
  </style>